{{#extends 'base'}}
{{#block 'content'}}

<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-center align-items-center">
            <a href="/products" class="btn btn-outline-dark btn-sm">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <h3 class="ms-3">Product: {{product.product_name}}</h3>
        </div>
        <a href="/products/{{product.product_id}}/variants/create" class="btn btn-dark btn-outline-light btn-sm">Add
            Variant</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Flavour</th>
                <th>Stock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each variants}}
            <tr>
                <td>
                    <img src="{{this.product_thumbnail_url}}" />
                </td>
                <td>{{this.product_id}}</td>
                <td>{{../product.product_name}}</td>
                <td>{{this.flavour.flavour_name}}</td>
                <td>{{this.stock}}</td>
                <td>
                    <a href="/products/{{this.product_id}}/variants/{{this.variant_id}}/update"
                        class="btn btn-primary btn-sm">
                        Update
                    </a>
                    <a href="/products/{{this.product_id}}/variants/{{this.variant_id}}/delete"
                        class="btn btn-danger btn-sm delete-variant-btn" data-csrf-token="{{csrfToken}}"
                        data-product-id="{{this.product_id}}" data-variant-id="{{this.variant_id}}"
                        data-flavour="{{this.flavour.flavour_name}}">
                        Delete
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/block}}

{{#block 'js'}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    let deleteBtns = document.querySelectorAll('.delete-variant-btn');
    for (let btn of deleteBtns) {
        btn.addEventListener('click', async function (event) {
            event.preventDefault();

            const result = await Swal.fire({
                title: `Are you sure you want to delete flavour: ${event.target.dataset.flavour}`,
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirm Delete'
            })

            if (result.isConfirmed) {
                const form = document.createElement('form')
                form.method = 'POST'
                form.action = `/products/${event.target.dataset.productId}/variants/${event.target.dataset.variantId}/delete`
                document.querySelector('body').appendChild(form)
                form.innerHTML = `{{> csrfToken}}`
                form.submit();
            }
        })
    }
</script>
{{/block}}
{{/extends}}