{{#extends 'base'}}
{{#block 'content'}}

<a href="/products/{{product.product_id}}/variants/create" class="btn btn-primary my-3">Add Variant</a>

<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Flavour</th>
            <th>Stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each variants}}
            <tr>
                <td>
                    <img src="{{this.product_thumbnail_url}}" />
                </td>
                <td>{{../product.product_id}}</td>
                <td>{{../product.product_name}}</td>
                <td>{{this.flavour.flavour_name}}</td>
                <td>{{this.stock}}</td>
                <td>
                    <a href="#" class="btn btn-primary btn-sm">Update</a>
                    <a href="#" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}
{{/extends}}